.my-fullname {
  position: relative;
  height: 500px;
  font-family: 'Gruppo';
  font-size: 96px;
}

.my-name {
  position: absolute;
  left: 243px;
  top: 219px;
}

.my-surname {
  position: absolute;
  left: 562px;
  top: 312px;
}

.based {
  font-size: 16px;
  position: absolute;
  left: 1094px;
  top: 419px;
}
